* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 900px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}


.row-1, .row-2{
    display: inline-block;
    width: 300px;
    position: relative;
    height: 400px;
    text-align: left;
}

.item{
    position: relative;
}


/* START IMG HOVER */


.card img {
    width: 100%;
}

.img-on {
    display: block;
}


.img-off{
    display: none;
}

.item:hover .img-off {
    display: block;
}

.item:hover .img-on{
    display: none;
}
  
/* END IMG HOVER*/

/* STYLE TESTO */

.info{
    font-size: 15px;
    font-weight: bold;
}

.price{
    color: red;
    font-weight: bold;
}

.price-stroke{
    text-decoration: line-through;
}


.discount {
    position: absolute;
    display: inline;
    width: auto;
    bottom: 80px;
    left: 0;
    background-color: red;
    color: white;
    font-size: 10px;
    padding: 5px;
    font-weight: bold;
}

.eco {
    position: absolute;
    display: inline;
    width: auto;
    bottom: 80px;
    left: 30px;
    background-color: green;
    color: white;
    font-size: 10px;
    padding: 5px;
    font-weight: bold;
    margin-left: 5px;
}

.heart{
    position: absolute;
    width: 20px;
    top: 10px;
    margin-top: 10px;
    right: 0;
    background-color: white;
    font-size: 10px;
    padding: 5px;
    font-weight: bold;
}

/* STYLE TESTO */

