* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1000px;
    margin: 0 auto;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}


.card {
    display: inline-block;
    position: relative;
    width: 25%;
    height: 300px;
    background-size: 100%;
    padding: 50px 0;
    
}

.item{
    display: inline-block;
}

.card:hover img {
    display: block;
}


.card img {
    width: 100%;
}


.img-off{
    display: none;
}

.img:hover .img-on{
    display: none;
}

.img:hover .img-off{
    display: inline-block;
}

/* STYLE TESTO */

.item{
    font-size: 15px;
    font-weight: bold;
}

.price{
    color: red;
    font-weight: bold;
}

.strike{
    text-decoration: line-through;
}


.discount {
    position: absolute;
    display: inline;
    width: auto;
    bottom: -90px;
    left: 0px;
    background-color: red;
    color: white;
    font-size: 10px;
    padding: 5px;
    font-weight: bold;
}

.green {
    position: absolute;
    display: inline;
    width: auto;
    bottom: -90px;
    left: 30px;
    background-color: green;
    color: white;
    font-size: 10px;
    padding: 5px;
    font-weight: bold;
    margin-left: 5px;
}

.heart{
    position: absolute;
    width: 20px;
    top: 50px;
    right: 0;
    background-color: white;
    font-size: 10px;
    padding: 5px;
    margin-top: 10px;
    font-weight: bold;
}

/* STYLE TESTO */

